<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="user/userheader :: userheader"></div>

<body>
<div>
    <div th:replace="user/userheader :: usernavbar"></div>
</div>

<div class="container" style="margin: 50px; width:60%;" th:field="*{requestKey}">

    <!-- Card deck -->
    <div class="card-deck row" style="padding-top: 50px;">

        <!-- Card -->
        <div class="card">

            <!--Card image-->
            <div class="ui-widget-overlay">
                <img class="card-img-top" th:src="${requestKey.imageUrl}"/>
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <div style="display: -ms-flex; justify-content: space-evenly;">
                    <!--Title-->
                    <h4 class="card-title">Request ID: <span  th:text="${requestKey.requestId}"></span></h4>
                    <h4 class="card-title" >Title: <span th:text="${requestKey.title}"></span></h4>
                    <h4 class="card-title" > Date Submitted: <span th:text="${requestKey.requestDate}"></span></h4>

                </div>
                <!--Text-->
                <p >Category: <span th:text="${requestKey.category}"></span></p>
                <p class="card-text" th:text="${requestKey.description}">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <div>
                    <a th:href="@{/user/update/request/{requestId}(requestId=${requestKey.requestId})}"
                       class="btn btn-success mt3">Update</a>
                    <a th:href="@{/user/delete/request/{requestId}(requestId=${requestKey.requestId})}"
                       class="btn btn-success mt3">Delete</a>
                </div>

            </div>

        </div>
        <!-- Card -->

    </div>
</div>
    <!-- Card -->
<div th:replace="footer :: footer"></div>
</body>

</html>