<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="userheader :: userheader"></div>

<body>
<div>
    <div th:replace="userheader :: usernavbar"></div>
</div>

<div class="container" style="margin: 50px; width:60%;" th:field="${requestKey}">

    <!-- Card deck -->
    <div class="card-deck row">

        <!-- Card -->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" th:src="${'data:image/jpeg;base64'+ ${requestKey.imageUrl}}">
                     alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <div style="display: -ms-flex; justify-content: space-evenly;">
                    <!--Title-->
                    <h4 class="card-title" th:text="${requestKey.title}">1 Card title</h4>
                    <h4 class="card-title" th:field="${requestKey.requestDate}"> Date of entry</h4>
                </div>
                <!--Text-->
                <p th:text="${requestKey.category}"></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <div>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-primary">Delete</button>
                </div>

            </div>

        </div>
        <!-- Card -->

    </div>
</div>
    <!-- Card -->
<div th:replace="footer :: footer"></div>
</body>

</html>