<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>

<footer style="margin-top: auto" th:fragment="footer">
    <div class="footer-content">
        <h3><a href="homepage.html">Aladim</a></h3>
    </div>
    <ul class="socials">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="footer-content">copyright &copy;2022</p>
</footer>
</body>
</html>