<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header"></div>

<body>
<div>
    <div th:replace="header :: navbar"></div>
</div>

<div class="hero-box" style="width: 100%;" >
    <div class="hero-box-overlay" style="display: flex; align-items:center;">
        <div class="container" style="text-align: center;">
            <h1>SMART TRADING starts here...</h1>
            <p>Join buyers and merchants from different locations on the platform</p>
            <p> and start making best trading choices.</p>
            <a type="button" class="btn btn-primary" th:href="@{/register/buyer}">Register as a Buyer</a>
            <a type="button" class="btn btn-primary" th:href="@{/register/merchant}">Register as a Merchant</a>
        </div>
    </div>
</div>
<div class="marble" style="color:black;display: flex;justify-content: center; gap:40px;padding: 40px;">
    <div>
        <h5>Request</h5>
        <hr />
        <p>Make a request by posting what you want or desire on the platform</p>
    </div>
    <div>
        <h5>Search</h5>
        <hr />
        <p>Be disposed to proposals from several clients</p>
    </div>
    <div>
        <h5>Select</h5>
        <hr />
        <p>Choose the merchant that best suits your need and tranzact</p>
    </div>
</div>
<div class="section-c" style="display: flex; height: 10%; width: 100%;">
    <div style="width:50%;">
        <img th:src="@{/webImage/carts.jpg}" style=" width: 100%; object-fit: cover; height: 200px;" />
    </div>
    <div style="width:50%; background-color: darkgray; text-align: center; justify-content: center;padding:20px">
        <p><b>Buyers do the Listing, and Merchants do the shopping at Aladim.
            Weconnect you to a market where you can request for anything and you get Merchants that are ready to meet your specifications.</b>
        </p><br>
        <p>Enjoy smart trading experirence</p>
    </div>

</div>

<div th:replace="footer :: footer"></div>
</body>
</html>