<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header"></div>

<body>
    <div>
        <div th:replace="header :: navbar"></div>
    </div>

    <div class="container" style="padding-top: 50px;" th:object="${registered}">
        <div class="row col-md-8 offset-md-2">
                <div class="card">
                    <h5 class="card-header">Welcome! Smart Trader </h5>
                    <div class="card-body">
                        <h5 class="card-title"> Dear <span th:field="*{firstName.toUpperCase()}"></span>!</h5>
                        <p class="card-text">You can log in by clicking the button below to start enjoying our services</p>
                        <a href="login.html" class="btn btn-primary">Log in</a>
                    </div>
                </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>