<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="merchant/merchantheader :: merchantheader"></div>

<body>
<div>
    <div th:replace="merchant/merchantheader :: merchantnavbar"></div>
</div>

<div class="" style="display: grid; grid-template-columns: 1fr 5fr;">
    <div style="background-color: lightgrey;"></div>
    <div>
        <div class="container" style="padding-top: 50px;">
            <div class="row col-md-8 offset-md-2">
                <div>
                    <h2>Response List</h2>
                    <hr>
                </div>
                <div class="card" style="margin-bottom: 10px;" th:each="response, responseStat:${res}">
                    <div class="card-header" style="display: flex; padding-top: 5px;margin: 10px;">
                        <div class="mb-5 col-sm-8" style="display: -ms-flexbox; height: fit-content;">
                            <p th:text="${response.responseId}"></p>
                            <h5 th:text="${response.request.title}"></h5>
                        </div>
                        <div class="mb-5 col">
                            <p th:text="${response.responseDate}"></p>
                        </div>
                    </div>
                    <div class="card-body"
                         style="border:1px solid; display:flex;padding:5px; justify-content: space-evenly; ">
                        <div style="display: -ms-flex">
                            <p>N<span th:text="${response.responsePrice}"></span></p>
                        </div>
                        <a th:href="@{/merchant/view/details/response/{responseId}/view(responseId=${response.responseId})}"
                           class="btn btn-success mt3">View Details</a>
                        <a class="btn btn-success mt3">Track Status</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>