<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="merchant/merchantheader :: merchantheader"></div>

<body>
<div>
    <div th:replace="merchant/merchantheader :: merchantnavbar"></div>
</div>

<div class="container" style="margin: 80px; width:50%;" th:field="*{response}">

    <!-- Card deck -->
    <div class="card-deck row">

        <!-- Card -->
        <div class="card">

            <!--Card image-->
            <div class="ui-widget-overlay">
                <img class="card-img-top" th:src="${response.imageUrl}"/>
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <div style="display: -ms-flex; justify-content: space-evenly;">
                    <!--Title-->
                    <h4 class="card-title">RESPONSE ID: <span  th:text="${response.responseId}"></span></h4>
                    <h4 class="card-title" >DATE: <span th:text="${response.responseDate}"></span></h4>
                </div>
                <!--Text-->
                <p>REQUEST ID: <span th:text="${response.request.requestId}"></span></p>
                <p th:text="${response.request.title}"><b></b></p>
                <p class="card-text">DESCRIPTION: <span  th:text="${response.responseDescription}"></span></p>
                <div>
                    <a th:href="@{/merchant/update/response/{responseId}(responseId=${response.responseId})}"
                       class="btn btn-primary mt3">Update</a>
                    <a th:href="@{/merchant/delete/response/{responseId}(responseId=${response.responseId})}"
                       class="btn btn-dark mt3">Delete</a>
                </div>

            </div>

        </div>
        <!-- Card -->

    </div>
</div>
<!-- Card -->
<div th:replace="footer :: footer"></div>
</body>

</html>